/*You have used CSS Grid and Flexbox in your project however you haven’t used them together properly.

 The proper way to use them together would be to make the main layout a CSS Grid layout that would have the navbar, banner, card-container, and footer as grid items. */
header {
  display: flex;
  height: 100px;
  padding: 0 80px;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  /* TODO: here apply font family to all elements and the font is also not imported via google fonts */
  font-family: "Roboto";
  /* remove this by reducing the height of the element */
  margin-bottom: -50px;
}

header nav {
  display: flex;
  justify-content: space-around;
}

.menu {
  display: flex;
  gap: 30px;
}

.menu a {
  text-decoration: none;
  color: var(--text-black);
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto";
  margin-right: 30px;
  box-shadow: inset 0 0 0 0 var(--yellow);
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.menu a:hover {
  box-shadow: inset 100px 0 0 0 var(--yellow);
  color: white;
}

.hamburger-icon {
  display: none;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0 #f5f3ef;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.hamburger-icon:hover {
  box-shadow: inset 140px 0 0 0 #f5f3ef;
  color: var(--yellow);
}

.hamburger {
  display: none;
}

header img {
  width: 160px;
  height: 40px;
}

header button {
  background-color: #000000;
  color: var(--text-white);
  width: 130px;
  height: 42px;
  border-radius: 28px;
  font-size: 16px;
  border: none;
  box-shadow: inset 0 0 0 0 #f5f3ef;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

header button:hover {
  box-shadow: inset 140px 0 0 0 #f5f3ef;
  color: var(--text-black);
  border: 1px solid var(--text-black);
}

/* Props to you for implementing a functional hamburger menu!
Looks great and is functional! */
@media (max-width: 710px) {
  header {
    margin-bottom: -10px;
    transform: translateX(30px);
  }

  header button {
    display: none;
  }

  header img {
    width: 130px;
  }

  .hamburger-icon {
    display: block;
    font-size: 48px;
    margin-bottom: 15px;
    transform: translateX(80%);
  }

  .menu {
    display: none;
  }
  #hamburger:checked + .menu {
    display: flex;
  }
}

@media (max-width: 315px) {
  header {
    margin-bottom: -10px;
    transform: translateX(-6%);
  }
}
