header {
  display: flex;
  height: 100px;
  padding: 0 80px;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  font-family: "Roboto";
  margin-bottom: -50px;
}

header nav {
  display: flex;
  justify-content: space-around;
}

header nav a {
  text-decoration: none;
  color: var(--text-black);
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto";
  margin-right: 30px;
}

header img {
  width: 160px;
  height: 40px;
  margin-left: -30px;
}

header button {
  background-color: #000000;
  color: var(--text-white);
  width: 130px;
  height: 42px;
  border-radius: 28px;
  font-size: 16px;
}

@media (max-width: 710px) {
  header {
    justify-content: center;
    justify-items: center;
  }
  header nav {
    display: none;
  }

  header button {
    display: none;
  }

  header img {
    width: 130px;
  }

  /* header .menu-trigger {
    display: inline-block;
  } */
}
