body {
  padding: 0;
  margin: 0;
  height: 100%;
  position: relative;
  min-height: 100%;
  padding-bottom: 60px;
}

:root {
  /* COLORS */
  --text-black: #000000;
  --text-gray: #646464;
  --text-white: #ffffff;
  --yellow: #febd2f;
}

body {
  background-color: #e5e5e5;
  font-family: "Roboto Serif";
}
