body {
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 100%;
}
/* Nice work on using CSS variables! This makes things very organized! */
:root {
  /* COLORS */
  --text-black: #000000;
  --text-gray: #646464;
  --text-white: #ffffff;
  --yellow: #febd2f;
}

body {
  background-color: #f5f3ef;
  font-family: "Roboto Serif";
}

@media (min-width: 1440px) {
  body,
  header,
  section,
  footer {
    max-width: 1440px;
    margin: 0 auto;
  }
}
